.league-page-flag-football:after {
	background-image: url('../Images/Backgrounds/flag-football.png');
}

.league-page-hockey:after {
	background-image: url('../Images/Backgrounds/hockey.PNG');
}

.league-page-baseball:after {
	background-image: url('../Images/Backgrounds/baseball.PNG');
}

.league-page-basketball:after {
	background-image: url('../Images/Backgrounds/basketball.PNG');
}

.league-page-fast-pitch:after {
	background-image: url('../Images/Backgrounds/fast-pitch.png');
}

.league-page-ultimate-frisbee:after {
	background-image: url('../Images/Backgrounds/ultimate-frisbee.png');
}

.league-page-slo-pitch:after {
	background-image: url('../Images/Backgrounds/slo-pitch.png');
}

.league-page-soccer:after {
	background-image: url('../Images/Backgrounds/soccer.png');
}

.league-page-volleyball:after {
	background-image: url('../Images/Backgrounds/volleyball.PNG');
}

.league-page-ball-hockey:after {
	background-image: url('../Images/Backgrounds/ball-hockey.jpg');
}

.league-page-dodgeball:after {
	background-image: url('../Images/Backgrounds/dodgeball.jpg');
}