body {
    background-image: url("../Images/Backgrounds/Background low-res.jpg");
}
#app  {
	width: 80%;
	margin: 0 auto;
	background-color: white;
	min-height: 100vh;
}

#main-title-background {
	background-color: black;
	height:175px;
	width: 100%;
	overflow: auto;
    display: inline-block;
    vertical-align: top;
}

#main-title {
	color: red;
	font-size: 50px;
	text-align: center;
	position: relative;
	top: 15px;
	font-family: 'Sigmar One', cursive;
}

.default-text {
	color: blue;
	font-size: 30px;
	font-family: 'Signika', serif;
	text-align: center;
}

.navbar-default {
	background: #404040 !important;
	border-color: blue !important;
	border-width: 4px !important;
	border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

.active {
	background: red !important;
}

.navbar-collapse {
	padding: 0 !important;
}

.nav {
	width: 100%;
}
.nav li {
	transition: all 0.3s ease-in-out;
	width: 20%;
	text-align: center;
	border-right: 2px solid blue;
	border-left: 2px solid blue;
}

.nav li:hover {
	background: #C0C0C0;
}

.nav .active a{ 
	background: #C0C0C0 !important;
}

.form-control {
	width: 25%;
	margin-bottom: 10px;
	text-align: left;
}

.addLeagueText {
	width: 100%;
	margin: auto;
	text-align: center;
}

.findLeagueFilters {
	width: 100%;
	margin: 5px;
	text-align: center;
}

#findLeaguebutton {
	width: 100%;
	margin: 35px 5px 5px 5px;
	text-align: center;
}

.findLeagueTD {
	margin-right: 10px;
}

.leaguePageText {
	font-family: Arial;
	text-align: center;
}

.findLeagueNames {
	color: blue;
	font-size: 20px;
	font-family: Arial;
	text-align: center;
}

.captcha_container img{
	width: 50%;
	margin-left: 25%;
	margin-bottom: 3%;
	display: inline-block;
	align-content: center;
}
