#main-title-background {
	background-color: green;
	height:175px;
	width: 100%;
	overflow: auto;
    display: inline-block;
    vertical-align: top;
}

#main-title {
	color: yellow;
	font-size: 72px;
	text-align: center;
	position: relative;
	top: 30px;
}

.default-text {
	color: blue;
	font-size: 20px;
	font-family: Arial Black;
	text-align: center;
}

.nav li {
	transition: all 0.3s ease-in-out;
}

.nav li:hover {
	background: #D4CCC5;
}

.form-group {
	width: 25%;
	margin: auto;
	text-align: center;
}