#main-title-background {
	background-color: green;
	height:175px;
	width: 100%;
	overflow: auto;
    display: inline-block;
    vertical-align: top;
}

#main-title {
	color: yellow;
	font-size: 72px;
	text-align: center;
	position: relative;
	top: 30px;
}

.default-text {
	color: blue;
	font-size: 20px;
	font-family: Arial Black;
	text-align: center;
}

.nav li {
	transition: all 0.3s ease-in-out;
}

.nav li:hover {
	background: #D4CCC5;
}

.form-control {
	width: 25%;
	margin-bottom: 10px;
	text-align: left;
}

.addLeagueText {
	width: 100%;
	margin: auto;
	text-align: center;
}

.findLeagueFilters {
	width: 100%;
	margin: 5px;
	text-align: center;
}

#findLeaguebutton {
	width: 100%;
	margin: 35px 5px 5px 5px;
	text-align: center;
}

.findLeagueTD {
	margin-right: 10px;
}

.leaguePageText {
	font-family: Arial;
	text-align: center;
}

.findLeagueNames {
	color: blue;
	font-size: 20px;
	font-family: Arial;
	text-align: center;
}

.captcha_container img{
	width: 50%;
	margin-left: 25%;
	margin-bottom: 3%;
	display: inline-block;
	align-content: center;
}